<div class="container">
    <div class="jumbotron">
        <h1>Cálculo Equação Reduzida da Reta</h1>
        <p class="text-muted">Apresenta qual a equação da reta a partir de dois pontos</p>
    </div>
    <div *ngIf="problema">
        <p>{{problema}}</p>
    </div>
    <div *ngIf="!problema">
        <p>A equação para os pontos ({{ponto_a[0]}}, {{ponto_a[1]}}) e ({{ponto_b[0]}}, {{ponto_b[1]}}) é: <strong>{{equacao}}</strong></p>
        <p>O angulo é: <strong>{{angulo}}º</strong></p>
    </div>
    <div class="" *ngIf="!this.problema">
        <kendo-chart>
            <kendo-chart-title text="Gráfico da reta"></kendo-chart-title>
            <kendo-chart-legend position="bottom" orientation="orizontal"></kendo-chart-legend>
            <kendo-chart-series>
                <kendo-chart-series-item type="scatterLine" [data]="[ponto_a, ponto_b]" [name]="['Ponto B', ' Ponto A']">
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>

