<div class="container">
    <div class="jumbotron">
            <h1>DISCIPLINAS</h1>
            <p class="text-muted">Lista e cadastro de disciplinas </p>
    </div>
    <div class="">
        <table class="table table-hover">
            <tr class="thead-light">
                <th width="150">Código</th>
                <th>Nome</th>
                <th width="300" class="text-center">Opções</th>
            </tr>
            <tr *ngFor="let disciplina of disciplinas" [class.selecionado]="editando == disciplina">
                <td><i class="fa fa-pencil-square" *ngIf="editando == disciplina"></i>  {{disciplina.cod}}</td>
                <td>{{disciplina.nome}}</td>
                <td [class.selecionado]="selecionado" class="text-center">

                    <button type="button" class="btn btn-sm btn-primary" id="edit"
                    (click)="editar(disciplina)"><i class="fa fa-edit"></i> Editar</button>

                    <button type="button" class="btn btn-sm btn-danger"  id="delete"
                    (click)="excluir(disciplina)"><i class="fa fa-trash"></i> Excluir</button>

                </td>
            </tr>
            <tr>
            <td></td>
            <td></td>
            <td class="text-center">
                <button type="button" class="btn btn-info"  id="insert"
                        (click)="insert()"><i class="fa fa-plus-circle"></i> Inserir</button>
            </td>
            </tr>
        </table>
    </div>
<div class="container-fluid" *ngIf="incluir">

    <h2>Cadastrar</h2>
    <p>Use este formulário para cadastrar ou editar uma disciplina.</p>
    <form #cadastro="ngForm">
        <div class="form-group">
            <label for="cod">Código</label><br>
            <input type="number" id="cod" name="cod" [(ngModel)]="cod" class="form-control-sm" required>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label><br>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required>
        </div>

        <div class="form-group">
            <label for="data">Data</label><br>
            <input type="date" class="form-control" id="data" name="data" [(ngModel)]="data">
        </div>
        <div class="row">
            <div class="col">
                <label>Tipo</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo" id="tipo1"
                           value="primaria" [(ngModel)]="tipo">
                    <label class="form-check-label" for="tipo1">
                        Primária
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipo" id="tipo2"
                           value="secundaria" [(ngModel)]="tipo">
                    <label class="form-check-label" for="tipo2">
                        Secundária
                    </label>
                </div>
            </div>
            <div class="col">
                <label>Status</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="status" id="ativo" [(ngModel)]="status">
                    <label class="form-check-label" for="ativo">
                        Ativo
                    </label>
                </div>

            </div>
            <div class="col">
                <div class="form-group">
                    <label for="periodo">Periodo</label>
                    <select class="form-control" id="periodo" name="periodo"  [(ngModel)]="periodo" required>
                        <option value="">Escolha um periodo</option>
                        <option *ngFor="let p of periodos" >{{p}}</option>
                    </select>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label for="descricao">Descrição</label><br>
            <textarea id="descricao" class="form-control" name="descricao" [(ngModel)]="descricao"
                      cols="60" rows="7"></textarea>
        </div>

        <div class="text-right">
            <button class="btn btn-success"
                    type="button" [disabled]="!cadastro.valid" (click)="salvar()">Salvar</button>
            <button class="btn btn-secondary"
                    type="reset" (click)="cancelar()">Cancelar</button>
        </div>

    </form>

    <div class="row">
    </div>
</div>

    <footer class="modal-footer row" style="margin-top: 50px">
        <p class="col"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean sem lacus, sollicitudin quis mattis at, volutpat ac neque.
            Curabitur ligula eros, tincidunt at ante sit amet, semper lacinia leo.
        </p>
        <p class="col"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean sem lacus, sollicitudin quis mattis at, volutpat ac neque.
            Curabitur ligula eros, tincidunt at ante sit amet, semper lacinia leo.

            <strong>Ceulp Ulbra ©</strong>
        </p>
    </footer>
</div>